<%- include ('../../partials/header') %>
<%- include ('../../partials/admin-navbar') %>

<div class="container">
    <br>
    <form method="POST" action="/projects/teste" id="description-form" enctype="multipart/form-data">    
        <div class="card">
            <div class="card-header">
                <h2>Cadastrar um Novo Projeto</h2>
            </div>
            <div class="card-body">
                <label for="cape-image"><strong>Imagens secundárias:</strong></label><br>
                <div class="image-preview-div">
                    <label for="secondary-images">
                        <img class="image-preview" alt="Preview da Imagem" src="/static/img/image-preview.png" id="secondary-image-preview">   
                    </label>
                </div>
                <br>
                <input multiple="multiple" type="file" id="secondary-images" name="secondary-images" onchange="document.getElementById('secondary-image-preview').src = window.URL.createObjectURL(this.files[0]);"><br><br>
            <input class="btn btn-success" type="submit" value="Cadastrar" style="border-radius: 0px 0px 5px 5px;">
        </div>
        <br>
    </form>
</div>

<%- include ('../../partials/admin-footer') %>