<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header header-admin d-flex align-items-center">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="/static/img/logo/F01.png" alt="">
          <h1>Jean Alves Arquitetura<span>.</span></h1>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="admin-navbar navbar">
          <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="/admin/architects">Arquitetos</a></li>
            <li><a href="/admin/categories">Categorias</a></li>
            <li><a href="/admin/projects">Projetos</a></li>
            <li><a href="/admin/users">Usuários</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->