<%- include ('partials/header') %>
<%- include ('partials/home-navbar') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"><span>Jean Alves Arquitetura</span></h2>
            <p data-aos="fade-up">Design de Interiores, Urbanismo etc etc descrição que quiser </p>
            <a data-aos="fade-up" data-aos-delay="200" href="/projects" class="btn-get-started">Ver Projetos</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/projects/design-3.jpg); opacity: 75%"></div>

      <% projects.forEach(project => { %>

        <div class="carousel-item" style="background-image: url(static/uploads/<%= project.capeImage %>); opacity: 75%"></div>
  
      <% }); %>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <%- include ('partials/footer') %>